@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,700&display=swap');
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
}

/* ------------------------------ Header */

header nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 16px;
    color: rgba(0, 0, 0, .7);
    z-index: 10;
    background-color: white;
}

.shad {
    -webkit-box-shadow: 0px 3.5px 4.375px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 3.5px 4.375px 0px rgba(0, 0, 0, .1);
    box-shadow: 0px 3.5px 4.375px 0px rgba(0, 0, 0, .1);
}

header nav .logo {
    height: 40px;
    margin: 10px;
}

header nav .logo img {
    width: 40px;
    height: 40px;
}

header nav #mynavbar-toggle button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

header nav #navbar-button img {
    width: 34px;
    height: 25px;
}

header nav #mynavbar-list.menu-list {
    display: none;
    flex-basis: 100%;
}

.list-view {
    display: block;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
}

header nav .menu-list ul li {
    padding: 10px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

header nav ul li a {
    display: block;
    color: inherit;
}

header nav ul li:last-child a {
    display: inline-block;
    margin-top: 10px;
    padding: 7px 20px;
    border-radius: 6px;
    background-color: #1c9e75;
    color: white;
}

.mouse-hover-head a:hover {
    background-color: #f1f1f1;
    border-radius: 6px;
    color: #1c9e75;
    text-decoration: none;
}

header nav ul li:last-child a:hover {
    color: inherit;
    background-color: #1c9e75;
}

/* ------------------------------ All Section */

section.first-section {
    padding-top: 76px;
}

p {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

a.access-btn {
    display: inline-block;
    padding: 9px 30px;
    border-radius: 6px;
    background-color: #1c9e75;
    color: white;
    margin-bottom: 1rem;
}

.access-btn:hover {
    color: black;
    text-decoration: none;
}

/* ---------- Modal Form */

#form-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#form-modal h2 {
    text-align: center;
    /* font-size: 24px; */
}

#form-modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#form-modal .close:hover,
#form-modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#form-modal hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

#form-modal div.main {
    width: 320px;
    margin: auto;
    padding: 10px 55px 20px;
    background-color: #dedede;
    border: 15px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    font-size: 13px;
}

#form-modal input[type=text], [type=email], [type=password] {
    width: 97.7%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 6px;
    outline: none;
}

#form-modal input[type=text]:focus, 
[type=email]:focus,
[type=password]:focus {
    border: 2px solid #1c9e75;
}

#form-modal label {
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}

#form-modal #register {
    font-size: 20px;
    margin-top: 15px;
    background: #1c9e75;
    border: 1px solid #1c9e75;
    padding: 7px 35px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    outline: none;
}

#form-modal #register:hover {
    color: black;
    text-decoration: none;
    ;
}
/* ---------- Index Page First Section */

#index-page section.first-section .mycontainer {
    position: relative;
    width: 100%;
    height: 45vh;
}

#index-page section.first-section img {
    height: 100%;
    width: 100%;
}

#index-page section.first-section #main-title {
    position: absolute;
    bottom: 0;
    padding: 20px 20px;
}

/* ---------- Index Page Second Section */

#index-page section.second-section .mycontainer .myrow {
    display: flex;
    flex-direction: column;
}

#index-page section.second-section .mycontainer .mycol {
    width: 100%;
    max-height: 480px;
    padding: 40px 40px;
}

#index-page section.second-section .mycontainer .mycol:nth-child(even) {
    background-color: #dedede;
    display: flex;
    align-items: center;
}

#index-page section.second-section .mycontainer .mycol:nth-child(even) div {
    max-width: 20rem;
}

#index-page section.second-section .mycontainer .mycol:nth-child(odd) {
    display: flex;
    justify-content: center;
}

#index-page section.second-section .mycontainer .myrow:last-child {
    padding: 40px 20px;
}

#index-page section.second-section .mycontainer .myrow:last-child .first-column {
    text-align: center;
}

#index-page section.second-section .mycontainer .myrow:last-child .second-column {
    max-width: 250px;
    margin: auto;
}

#index-page section.second-section .mycontainer .myrow:last-child .second-column img {
    width: 100%;
    padding-top: 20px;
}

/* ------------------------------ Our Offices Section */

#office-page .first-section .mycontainer {
    width: 100%;
}

#office-page .first-section .mycontainer .myrow {
    display: flex;
    text-align: center;
    padding: 20px;
    justify-content: center;
}

#office-page .first-section .mycontainer .myrow h1 {
    font-size: 2.3rem;
    font-weight: 700;
}

#office-page .second-section .mycontainer .myrow {
    border: 2px solid lightgrey;
    margin: 40px 20px 60px 20px; 
}

#office-page .second-section .mycontainer .myrow .content {
    padding: 32px;
    width: 100%;
}

#office-page .second-section .mycontainer .myrow div:nth-child(2) h2:nth-child(3), 
#office-page .second-section .mycontainer .myrow div:first-child h2:nth-child(3) {
    font-weight: 700;
}

#office-page .second-section .mycontainer .myrow p{
    font-size: 0.9rem;
}

#office-page .second-section .mycontainer #map, #office-page .second-section .mycontainer #map2 {
    height: 500px;
}

/* ------------------------------ Contact page Section */

#contact-page .first-section img {
    width: 100%;
    max-height: 565px;
    filter: brightness(65%);
}

#contact-page .first-section .mycontainer {
    position: relative;
}

#contact-page .first-section #main-title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

#contact-page .first-section h1 {
    font-size: 2.3rem;
    font-weight: 700;
}

/* ---------- Contact Page Second Section */

#contact-page .second-section h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 2.3rem;
    font-weight: 700;
}

#contact-page .second-section form {
    width: 80%;
    margin: 0 auto;
}

#contact-page .second-section form div {
    margin: 50px auto;
}

#contact-page .second-section form .form-style {
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid #989aa2;
    width: 100%;
    margin-bottom: 8px;
}

#contact-page .second-section form .form-style:focus {
    border-bottom: 2px solid #2c2c2c;
}

#contact-page .second-section form .button {
    text-align: right;
}

#contact-page .second-section form button {
    padding: 9px 30px;
    border-radius: 6px;
    background-color: #1c9e75;
    color: white;
    margin-bottom: 1rem;
    outline: none;
}

#contact-page .second-section form button:hover {
    color: black;
    text-decoration: none;
}

textarea {
    height: 150px;
}

/* ------------------------------ Footer */

footer {
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer .first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .second-section .copyright {
    justify-content: center;
    padding: 8px 10px;
}

footer ul {
    list-style-type: none;
    padding: 8px 16px;
    margin: 0;
}

footer .policy ul li, footer .social-icon ul li {
    padding: 10px 10px;
}

footer .social-icon ul li .fa {
    font-size: 20px;
}

.mouse-hover-footer a:hover {
    color: #1c9e75;
    text-decoration: none;
}

footer ul li a {
    color: inherit;
}

/* ------------------------------ Media Queries */

@media (min-width: 768px) {
    /* ------------------------- Home page */
    /* ------------- Sections */
    #index-page section.first-section .mycontainer {
        height: 50vh;
    }
    #index-page section.second-section .mycontainer .myrow:not(:last-child) {
        flex-direction: row-reverse;
    }
    #index-page section.second-section .mycontainer .myrow:nth-child(odd) {
        flex-direction: row;
    }

    /* ------------------------- Office page */
    #office-page .second-section .mycontainer .myrow {
        display: flex;
        margin: 40px 40px 60px 40px; 
    }

    #office-page .second-section .mycontainer #map,
    #office-page .second-section .mycontainer #map2 {
        width: 430px;
    }
}

@media (min-width: 992px) {
    /* ------------- Header */
    header nav #mynavbar-toggle {
        display: none;
    }
    header nav #mynavbar-list.menu-list {
        display: flex !important; /* Need to use important to override the style none from the slide Toogle*/
        flex-basis: unset;
    }
    header nav #mynavbar-list ul {
        display: flex;
    }
    header nav .menu-list ul li {
        padding: 0;
        text-align: center;
        border-top: none;
    }
    header nav #mynavbar-list ul li a {
        padding: 5px 20px;
        margin: 10px;
    }
    /* ------------------------- Home page */
    /* ------------- Sections */
    #index-page section.first-section .mycontainer {
        height: 90vh;
    }

    /* ------------------------- Office page */
    #office-page .second-section .mycontainer .myrow {
        margin: 40px 80px 60px 80px;
        max-width: 1116px; 
    }

    #office-page .second-section .mycontainer #map, #office-page .second-section .mycontainer #map2 {
        height: 500px;
        width: 780px;
    }

    /* ------------------------- Contact page */
    /* ------------- Sections */

    #contact-page .second-section form {
        width: 55%;
    }
}

@media (min-width: 1200px) { 
    #contact-page .first-section img {
        max-height: 90vh;
    }
}